src/main/mule/scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8b8617a2-e83b-427f-88b8-3b7bf3b8363e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="be4437fe-34fb-46be-b8a9-20117064f9b0" >
		<db:my-sql-connection host="database-3.chtutjabg4gc.ap-northeast-1.rds.amazonaws.com" port="3306" user="admin" password="9333888839" database="jaggu_db" />
	</db:config>
	<flow name="scatter-gatherFlow" doc:id="8d5a329f-8d89-4f18-9aa3-9e8535f1c218" >
		<http:listener doc:name="Listener" doc:id="5e6ed504-20f9-4360-82a4-7f537f8cab36" config-ref="HTTP_Listener_config" path="/scatter"/>
		<logger level="INFO" doc:name="Logger" doc:id="ff682905-01d1-4b95-ab77-e0a2e06b0c4d" message="Request received"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="c4e3bbdb-9f00-4c15-ba0c-2dc2d07452dc" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="3325c166-eb18-43ad-aaa8-d0ad451f395a" message="First Route"/>
				<ee:transform doc:name="Transform Message" doc:id="9b4b725f-873b-443b-9b4e-e2061c75720b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"orderId" : 2345,
	"productName" : "herbal product",
	"expiryDate" : "25-8-2025"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="7eb0f41d-6595-48c2-85bb-23b4c6e8d790" message="Second Route"/>
				<ee:transform doc:name="Transform Message" doc:id="b53c3c94-bc19-43ad-b0d1-c499a49d9c0d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"deliverdBy" : "ekart systems private ltd"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="4c3ef1ab-f0f3-436c-92c3-7cf9a535a8e1" message="Third Route"/>
				<db:select doc:name="Select" doc:id="64965622-7fdc-47b3-b76d-32d58de2a200" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT id,name,email,address,telephone from jaggu_db.devil where id = :id]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	id : attributes.queryParams.customerId
}]]]></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="2b77a80e-848f-4bb4-8f68-569b27a89bf1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="5c9a2976-69d6-4c6b-9b98-a24d53890fbf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	orderDetails : payload."0".payload,
	deliveryBy : payload."1".payload,
	productOrderdCustomer : payload."2".payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
